* {
    box-sizing: border-box;
    --object-debug: #ff0000a0;
        --frame-debug: #00ff00a0;
}

body {
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#app {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}